numpy>=2.0.0,<3.0.0
pandas>=2.0.0
streamlit>=1.22.0
plotly>=5.13.1
scikit-learn>=1.2.2
statsmodels>=0.13.5
matplotlib>=3.7.1
seaborn>=0.12.2
python-dotenv>=1.0.0
requests>=2.28.2
pymongo>=4.3.3
kubernetes>=26.1.0
prometheus-client>=0.14.0
gym>=0.21.0
reportlab>=4.0.4
jinja2>=3.1.2
weasyprint>=60.1
pdfkit>=1.0.0
xhtml2pdf>=0.2.11
kaleido>=0.2.1
scipy>=1.10.0
torch>=2.2.0 